.content
  %p= goods_item.name
  %p
    = goods_item.selling_price
    円
  %p= goods_item.explanation
  %p= goods_item.category
  %p= goods_item.brand
  %p= goods_item.condition.name
  %p= goods_item.shipping_fee.name
  %p= goods_item.province.name
  %p= goods_item.delivery_date.name
  %p= goods_item.delivery_way.name
  %p= goods_item.selling_price