.wrap.page_my_page
  .contents_box
    .inner.cf
      .main_box
        .profile
          .profile_inner
            = link_to "#", class: 'profile_detail' do
              .profile_photo
                %figure.photo
                  = image_tag("member_photo_noimage.png", alt: "プロフィール写真")
                %span.user_name
                  kazoe
                .point
                  %ul
                    %li
                      評価
                      %span
                        40
                    %li
                      出品数
                      %span
                        109
        %ul.tabs.cf
          %li
            = link_to "#", class: '' do
              お知らせ
          %li
            = link_to "#", class: '' do
              やることリスト
        .tabs_box
          .tabs_box_inner
            %ul.info
              %li.info_list.fa
                = link_to "#", class: '' do
                  %p.sentence
                    《モノガタリ》あなたのものにまつわるモノガタリを投稿しよう！キャンペーン第２弾開催中です！
                  %span.date_time.far
                    6月3日（水）
              %li.info_list.fa
                = link_to "#", class: '' do
                  %p.sentence
                    《これからもおうち時間をもつと楽しく》参加はこちら！
                  %span.date_time.far
                    6月2日（火）
              %li.info_list.fa
                = link_to "#", class: '' do
                  %p.sentence
                    《FURIMAをはじめたあなたへ》FURIMAで買うならクレジットカード払いがおすすめ！クレジットカードなら簡単ステップでスムーズなお取引が可能です。
                  %span.date_time.far
                    6月1日（月）
              %li.info_list.fa
                = link_to "#", class: '' do
                  %p.sentence
                    事務局からの個別メッセージ（Googleログイン通知）
                  %span.date_time.far
                    5月31日（日）

            %ul.info
              %li.info_list.fa
                = link_to "#", class: '' do
                  %p.sentence
                    《tab2モノガタリ》あなたのものにまつわるモノガタリを投稿しよう！キャンペーン第２弾開催中です！
                  %span.date_time.far
                    6月3日（水）
              %li.info_list.fa
                = link_to "#", class: '' do
                  %p.sentence
                    《これからもおうち時間をもつと楽しく》参加はこちら！
                  %span.date_time.far
                    6月2日（火）
              %li.info_list.fa
                = link_to "#", class: '' do
                  %p.sentence
                    《FURIMAをはじめたあなたへ》FURIMAで買うならクレジットカード払いがおすすめ！クレジットカードなら簡単ステップでスムーズなお取引が可能です。
                  %span.date_time.far
                    6月1日（月）
              %li.info_list.fa
                = link_to "#", class: '' do
                  %p.sentence
                    事務局からの個別メッセージ（Googleログイン通知）
                  %span.date_time.far
                    5月31日（日）

        %h2.box_ttl
          購入した商品
        %ul.tabs.cf
          %li
            = link_to "#", class: '' do
              取引中
          %li
            = link_to "#", class: '' do
              過去の取引
        .tabs_box
          .tabs_box_inner
            %ul.info
              %li.info_list.fa
                = link_to "#", class: '' do
                  %p.sentence
                    《モノガタリ》あなたのものにまつわるモノガタリを投稿しよう！キャンペーン第２弾開催中です！
                  %span.date_time.far
                    6月3日（水）
              %li.info_list.fa
                = link_to "#", class: '' do
                  %p.sentence
                    《これからもおうち時間をもつと楽しく》参加はこちら！
                  %span.date_time.far
                    6月2日（火）
              %li.info_list.fa
                = link_to "#", class: '' do
                  %p.sentence
                    《FURIMAをはじめたあなたへ》FURIMAで買うならクレジットカード払いがおすすめ！クレジットカードなら簡単ステップでスムーズなお取引が可能です。
                  %span.date_time.far
                    6月1日（月）
              %li.info_list.fa
                = link_to "#", class: '' do
                  %p.sentence
                    事務局からの個別メッセージ（Googleログイン通知）
                  %span.date_time.far
                    5月31日（日）

            %ul.info
              %li.info_list.fa
                = link_to "#", class: '' do
                  %p.sentence
                    《tab2モノガタリ》あなたのものにまつわるモノガタリを投稿しよう！キャンペーン第２弾開催中です！
                  %span.date_time.far
                    6月3日（水）
              %li.info_list.fa
                = link_to "#", class: '' do
                  %p.sentence
                    《これからもおうち時間をもつと楽しく》参加はこちら！
                  %span.date_time.far
                    6月2日（火）
              %li.info_list.fa
                = link_to "#", class: '' do
                  %p.sentence
                    《FURIMAをはじめたあなたへ》FURIMAで買うならクレジットカード払いがおすすめ！クレジットカードなら簡単ステップでスムーズなお取引が可能です。
                  %span.date_time.far
                    6月1日（月）
              %li.info_list.fa
                = link_to "#", class: '' do
                  %p.sentence
                    事務局からの個別メッセージ（Googleログイン通知）
                  %span.date_time.far
                    5月31日（日）


      .side_box
        %nav.side_nav
          %ul.menu
            %li.menu_list.fa.on
              = link_to "#", class: '' do
                マイページ
            %li.menu_list.fa
              = link_to "#", class: '' do
                お知らせ
            %li.menu_list.fa
              = link_to "#", class: '' do
                やることリスト
            %li.menu_list.fa
              = link_to "#", class: '' do
                出品した商品・出品中
            %li.menu_list.fa
              = link_to "#", class: '' do
                出品した商品・取引中
            %li.menu_list.fa
              = link_to "#", class: '' do
                出品した商品・売却済み
            %li.menu_list.fa
              = link_to "#", class: '' do
                購入した商品・取引中
            %li.menu_list.fa
              = link_to "#", class: '' do
                購入した商品・過去の取引

        %nav.side_nav
          %h3.nav_ttl
            設定
          %ul.menu
            %li.menu_list.fa
              = link_to "#", class: '' do
                プロフィール
            %li.menu_list.fa
              = link_to "#", class: '' do
                本人情報
            %li.menu_list.fa
              = link_to "#", class: '' do
                ログアウト
            %li.menu_list.fa
              = link_to "#", class: '' do
                ログイン



:javascript
  jQuery(function () {
    jQuery('.tabs').jTabs({ content: '.tabs_box' });
  });