.header__menu
  = render partial: 'displays/header'

.wrap.page_account_regist
  .contents_box
    .inner.cf
      .main_box
        %h2.content_ttl
          アカウントの編集
        .form
          .form__inner
            = form_for(current_user) do |f|
              .field
                .field-list
                  = f.label :nickname
                  = f.text_field :nickname
                .field-list
                  = f.label :email
                  = f.email_field :email
                .field-list
                  = f.label :current_password
                  = f.text_field :current_password
                .field-list
                  = f.label :password
                  = f.text_field :password
                .field-list
                  = f.label :password_confirmation
                  = f.text_field :password_confirmation

                %ul.btn_wrap
                  %li.btn_style
                    = f.submit "更新"

      = render partial: 'side'
