.header__menu
  = render partial: 'displays/header'
.breadcrumb.contents_box.wide
  = render_breadcrumbs builder: ::CustomBreadcrumbsBuilder
.wrap.page_my_page
  .contents_box.wide
    .inner.cf
      .main_box
        .profile
          .profile__inner
            = link_to "#", class: 'profile__detail' do
              .profile__detail__inner
                %figure.photo
                  = image_tag("member_photo_noimage.png", alt: "プロフィール写真")
                %span.user_name
                  = @user.nickname
                .point
                  %ul
                    %li
                      評価
                      %span
                        40
                    %li
                      出品数
                      %span
                        109
        .tabs_wrap
          %ul.tabs.cf
            %li.tab.on
              お知らせ
            %li.tab
              やることリスト
          .tabs_box
            .tabs_box__inner.contents_on
              %ul.info
                %li.info-list.fa
                  = link_to "#", class: '' do
                    %p.sentence
                      《モノガタリ》あなたのものにまつわるモノガタリを投稿しよう！キャンペーン第２弾開催中です！
                    %span.date_time.far
                      6月3日（水）
                %li.info-list.fa
                  = link_to "#", class: '' do
                    %p.sentence
                      《これからもおうち時間をもつと楽しく》参加はこちら！
                    %span.date_time.far
                      6月2日（火）
                %li.info-list.fa
                  = link_to "#", class: '' do
                    %p.sentence
                      《FURIMAをはじめたあなたへ》FURIMAで買うならクレジットカード払いがおすすめ！クレジットカードなら簡単ステップでスムーズなお取引が可能です。
                    %span.date_time.far
                      6月1日（月）
                %li.info-list.fa
                  = link_to "#", class: '' do
                    %p.sentence
                      事務局からの個別メッセージ（Googleログイン通知）
                    %span.date_time.far
                      5月31日（日）
          .tabs_box
            .tabs_box__inner
              %ul.info
                %li.info-list.fa
                  = link_to "#", class: '' do
                    %p.sentence
                      《tab2モノガタリ》あなたのものにまつわるモノガタリを投稿しよう！キャンペーン第２弾開催中です！
                    %span.date_time.far
                      6月3日（水）
                %li.info-list.fa
                  = link_to "#", class: '' do
                    %p.sentence
                      《これからもおうち時間をもつと楽しく》参加はこちら！
                    %span.date_time.far
                      6月2日（火）
                %li.info-list.fa
                  = link_to "#", class: '' do
                    %p.sentence
                      《FURIMAをはじめたあなたへ》FURIMAで買うならクレジットカード払いがおすすめ！クレジットカードなら簡単ステップでスムーズなお取引が可能です。
                    %span.date_time.far
                      6月1日（月）
                %li.info-list.fa
                  = link_to "#", class: '' do
                    %p.sentence
                      事務局からの個別メッセージ（Googleログイン通知）
                    %span.date_time.far
                      5月31日（日）
          
        %h2.box_ttl
          購入した商品
        .tabs_wrap
          %ul.tabs.cf
            %li.tab.on
              取引中
            %li.tab
              過去の取引
          .tabs_box
            .tabs_box__inner.contents_on
              %ul.info
                %li.info-list.fa
                  = link_to "#", class: '' do
                    %p.sentence
                      《モノガタリ》あなたのものにまつわるモノガタリを投稿しよう！キャンペーン第２弾開催中です！
                    %span.date_time.far
                      6月3日（水）
                %li.info-list.fa
                  = link_to "#", class: '' do
                    %p.sentence
                      《これからもおうち時間をもつと楽しく》参加はこちら！
                    %span.date_time.far
                      6月2日（火）
                %li.info-list.fa
                  = link_to "#", class: '' do
                    %p.sentence
                      《FURIMAをはじめたあなたへ》FURIMAで買うならクレジットカード払いがおすすめ！クレジットカードなら簡単ステップでスムーズなお取引が可能です。
                    %span.date_time.far
                      6月1日（月）
                %li.info-list.fa
                  = link_to "#", class: '' do
                    %p.sentence
                      事務局からの個別メッセージ（Googleログイン通知）
                    %span.date_time.far
                      5月31日（日）
          .tabs_box
            .tabs_box__inner
              %ul.info
                %li.info-list.fa
                  = link_to "#", class: '' do
                    %p.sentence
                      《tab2モノガタリ》あなたのものにまつわるモノガタリを投稿しよう！キャンペーン第２弾開催中です！
                    %span.date_time.far
                      6月3日（水）
                %li.info-list.fa
                  = link_to "#", class: '' do
                    %p.sentence
                      《これからもおうち時間をもつと楽しく》参加はこちら！
                    %span.date_time.far
                      6月2日（火）
                %li.info-list.fa
                  = link_to "#", class: '' do
                    %p.sentence
                      《FURIMAをはじめたあなたへ》FURIMAで買うならクレジットカード払いがおすすめ！クレジットカードなら簡単ステップでスムーズなお取引が可能です。
                    %span.date_time.far
                      6月1日（月）
                %li.info-list.fa
                  = link_to "#", class: '' do
                    %p.sentence
                      事務局からの個別メッセージ（Googleログイン通知）
                    %span.date_time.far
                      5月31日（日）


      = render partial: 'side'

:javascript
  jQuery(function($){
  $('.tab').click(function(){
    // クリックした要素の先祖要素の中で、classの値がtabs_wrapの要素を取得
    const tabs_wrap = $(this).parents('.tabs_wrap'); 
    tabs_wrap.find('.on').removeClass('on');
    $(this).addClass('on');
    tabs_wrap.find('.contents_on').removeClass('contents_on');
    // クリックしたタブからインデックス番号を取得
    const index = $(this).index();
    // クリックしたタブと同じインデックス番号をもつコンテンツを表示
    tabs_wrap.find(".tabs_box__inner").eq(index).addClass('contents_on');
    });
  });
  