.footer__menue
  .footer__menue__contents
    %li.footer__menue__contents__content
      %h2.footer__menue__contents__content--head FURIMAについて
      %ul
        %li
          = link_to "会社概要（運営会社）" ,root_path
        %li
          = link_to "プライバシーポリシー" ,reads_privacy_path
        %li
          = link_to "利用規約" ,reads_tos_path
        %li
          %a{href: '#'} ポイントに関する特約
    %li.footer__menue__contents__content
      %h2.footer__menue__contents__content__head FURIMAを見る
      %ul
        %li
          = link_to "カテゴリー一覧" ,root_path
        %li
          = link_to "ブランド一覧" ,root_path
    %li.footer__menue__contents__content
      %h2.footer__menue__contents__content__head ヘルプ＆ガイド
      %ul
        %li
          = link_to "FURIMAガイド" ,root_path
        %li
          = link_to "FURIMAロゴ利用ガイドライン" ,root_path
        %li
          = link_to "お知らせ" ,root_path
  .footer__menue__logo
    = link_to image_tag("logo-white.png", alt: "ロゴ"), root_path
  %p.copy
    ©️ FURIMA