.wrap.page_orders.one_col
  .logo_wrap
    .logo
      = image_tag("logo.png", alt: "ロゴ")
  .contents_box
    .contents_box__inner
      %figure.item-image
        -# = image_tag @image_top.src, class: 'item-image', size: '240x240'
        = image_tag "logo_s.svg", class: ''
      .detail
        .detail__price
          %p
            = "¥ #{@goods_item.selling_price}"
            (税込)
            %span
              送料込み
        .detail__name
          %p
            = @goods_item.name

  .overlap
    .overlap__inner
      %p.overlap_ttl
        購入が完了しました！！
      %p.overlap_info
        購入完了いたしました。出品者の発送通知をお待ちください。
      %ul.btn_wrap
        %li.btn_style
          = link_to "取引画面へ", "#"
        %li.btn_style
          = link_to "買い物を続ける", root_path
