.header__menu
  = render partial: 'displays/header'
.bread-crumbs
  %ul
    %li
      FRIMA
    %li
      =icon('fas', 'angle-right')
    %li
      メンズ
    %li
      =icon('fas', 'angle-right')
    %li
      ジャケット/アウター
    %li
      =icon('fas', 'angle-right')
    %li
      Goods
    
.wrap.page_goods_detail
  .show
    .show-main
      -# .content-left
      .contents_box
        .top-content
          .goods-box
            .more
            = icon('fas', 'sort-down', class: "more")
            %ul
              .more_list
              - if user_signed_in? && current_user.id == seller_id
                %li
                  =link_to "編集" , edit_goods_item_path(@goods_item.id)
                %li
                  =link_to '削除', goods_item_path(@goods_item.id), method: :delete
            .goods-box__name
              Goods
            -# image_tagは商品出品機能が実装終了後に追加
            .goods-box__photo
              %ul
                %li
                  =image_tag '801065.png', size:"560x346"
                  %ul
                    %li
                      =image_tag '801065.png', size:"140x87"
                    %li
                      =image_tag '801065.png', size:"140x87"
                    %li
                      =image_tag '801065.png', size:"140x87"
            .goods-box__price
              .goods-box__price__price
                ¥20,000
              .goods-box__price__tax
                (税込み)送料込み
            .buy-btn
              - if user_signed_in? && current_user.id == seller_id
                エラー！出品者は購入できません。
              - else
                =link_to "#", class: 'btn' do
                  %span
                    商品購入画面に進む
            .goods-box__instruction
              2018年に新品で購入し、主に自宅で使っていました。キーの光沢が若干ある他は、外見も大きな傷など無く、きれいに使っていたつもりです。ですが、２年使用したものなので細かい傷や使用感の気になる方の購入はお勧めしません。
            .goods-box__table
              %table 
                %tr
                  %th 出品者
                  %td hoge
                %tr
                  %th カテゴリー
                  %td
                    %ul
                      %li 
                        = link_to "#", class: '' do
                          メンズ
                      %li
                        = link_to "#", class: '' do
                          ジャケット/アウター
                      %li
                        = link_to "#", class: '' do
                          ノーカラージャケット
                %tr
                  %th ブランド
                  %td
                %tr
                  %th 商品のサイズ
                  %td 
                %tr
                  %th 商品の状態
                  %td 新品/未使用
                %tr
                  %th 配送料の負担
                  %td 着払い（購入者負担）
                %tr
                  %th 発送元の地域
                  %td
                    %ul
                      %li
                        = link_to "#", class: '' do
                          青森県
                %tr
                  %th 発送日の目安
                  %td 1-2日で発送

            .goods-box__optional-area
              %ul
                %li.like-btn
                  = link_to "#", class: '' do
                    = icon('fas', 'star', class: "like-btn--icon")
                    %span
                      お気に入り 0
              %ul
                %li.report-btn
                  = link_to "#", class: 'report-btn' do
                    = icon('fas', 'flag', class: "report-btn--icon")
                    %span
                      不適切な商品の通報

          .comment-box
            .comment-area
              .new-comment
                %textarea{type:'text', class:''}
              .notes-memo
                相手のことを考え丁寧なコメントを心がけましょう。
                %br
                不快な言葉遣いなどは利用制限や退会処分となることがあります。
              .send-btn
                %li
                = icon('fas', 'comment')
                %span
                  コメントする
        .links
          .previous-page
            =link_to "#", class: 'links' do
              = icon('fas', 'angle-left', class: "links__backpage-btn")
              %span
                前ページ
          .next-page
            =link_to "#", class: 'links' do
              %span
                次ページ
                = icon('fas', 'angle-right', class: "links__nextpage-btn")
        .same-category
          =link_to "#", class: '' do
            メンズをもっとみる

.banner
  = render partial: 'displays/banner'

.footer__menue
  =render partial: 'displays/footer'

  =link_to "出品する", static_exhibition_path, class:'exhibitionBtn'
  .exhibitionBtn__text 出品する
  =image_tag '/app/assets/images/icon_camera.png', class:'exhibitionBtn__icon', size:'54x54'
