.detail_search
  = search_form_for(@q,url: detail_searches_path) do |f|
    .detail_search_sort
      = f.select( :sorts, { '並び替え': 'id desc', '価格の安い順': 'selling_price asc', '価格の高い順': 'selling_price desc', '出品の古い順': 'updated_at asc', '出品の新しい順': 'updated_at desc' } , { onchange: 'this.form.submit()'} )
    .detail_search_form
      .detail_search__title
        %h3 詳細検索
      .detail_search__group
        .detail_search__group--label
          %p キーワードを追加する
        = f.search_field :name_cont, placeholder: "例）値下げ"
      .detail_search__group
        .detail_search__group--label
          %p  ブランド名から探す
        = f.search_field :brand_cont, placeholder: "例）シャネル"
      .detail_search__group
        .detail_search__group--label
          %p 価格
        .detail_search__group--forms
          = f.search_field :selling_price_gteq, placeholder: "¥ Min"
          %p 〜
          = f.search_field :selling_price_lteq, placeholder: "¥ Max"
      .detail_search__group__button
        .detail_search__group--label
          %p 商品の状態
        .detail_search__group--checkbox
          %label
            = f.radio_button :condition_id_eq, '', {:checked => true}
            = 'すべて'
        .detail_search__group--checkbox
          %label
            = f.radio_button :condition_id_eq, 1
            = '新品、未使用'
        .detail_search__group--checkbox
          %label
            = f.radio_button :condition_id_eq, 2
            = '未使用に近い'
        .detail_search__group--checkbox
          %label
            = f.radio_button :condition_id_eq, 3
            = '目立った傷や汚れなし'
        .detail_search__group--checkbox
          %label
            = f.radio_button :condition_id_eq, 4
            = 'やや傷や汚れあり'
        .detail_search__group--checkbox
          %label
            = f.radio_button :condition_id_eq, 5
            = '傷や汚れあり'
        .detail_search__group--checkbox
          %label
            = f.radio_button :condition_id_eq, 6
            = '全体的に状態が悪い'
      .detail_search__btns
        .detail_search__btn--grey
          = link_to "クリア", "/searches",type: "button"
        = f.submit "完了"