.wrap.page_regist.one_column.page_form
  .logo_wrap
    .logo
      = image_tag("logo.png", alt: "ロゴ")
  .form_wrap
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = render "devise/shared/error_messages", resource: resource
      %ul.field_box
        %li.field_list
        = f.label :email, class:'email required'
        %li.field_list
          = f.email_field :email, autofocus: true, autocomplete: "email"
        %li.field_list
          = f.label :password, class:'password required'
          - if @minimum_password_length
            %em
              (#{@minimum_password_length} characters minimum)
        %li.field_list
          = f.password_field :password, autocomplete: "new-password"
        %li.field_list
          = f.label :password_confirmation, class:'password required'
          %br/
          = f.password_field :password_confirmation, autocomplete: "new-password"
        %ul.btn_wrap
          %li.btn_style
            = f.submit "Sign up"
    = render "users/shared/links"